* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background: #1F98F0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.header__nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.header__nav-list-li {
  list-style: none;
  margin-right: 30px;
}
.header__nav-list-link {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.button {
  color: black;
  text-align: center;
  border: none;
  border-radius: 8px;
  background: white;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}

.food__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.food__content-info-title {
  width: 500px;
  color: white;
  font-size: 51px;
  font-weight: 700;
}
.food__content-info-text {
  width: 488px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 50px;
}

.logo {
  margin-top: 65px;
}
.logo__text {
  color: #03101A;
  font-size: 21px;
  font-weight: 500;
  text-align: start;
  margin-bottom: 15px;
}
.logo__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo__logos-logo {
  margin-top: 30px;
}

.features {
  margin-top: 150px;
}
.features__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__content-info {
  margin-left: 100px;
}
.features__content-info-title {
  margin-bottom: 85px;
}
.features__content-info-block-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__content-info-block-data {
  margin-left: 30px;
}

.food {
  background: #1F98F0;
}
.food__content {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.food__content-title {
  text-align: center;
  color: white;
  font-size: 38px;
  font-size: 700;
}

.news {
  padding-top: 120px;
}
.news__content-title {
  text-align: center;
  margin-bottom: 60px;
}
.news__content-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news__content-block-info-title {
  margin-top: 15px;
}
.news__content-block-info-text {
  width: 327px;
  color: #6D7073;
  margin-top: 15px;
  margin-bottom: 30px;
}
.news__content-block-info-href {
  color: blue;
}

.mr-30 {
  margin-right: 15px;
}

@media (max-width: 1140px) {
  .news__content-block {
    justify-content: center;
    align-items: center;
  }
  .news__content-block-info {
    margin-top: 20px;
  }
}
@media (max-width: 980px) {
  .food__content {
    flex-direction: column;
  }
  .food__content-img {
    margin-top: 30px;
  }
}
@media (max-width: 795px) {
  .features__content {
    flex-direction: column;
  }
  .features__content-info {
    margin-left: 0;
  }
  .features__content-info-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}
@media (max-width: 650px) {
  .header__nav {
    flex-direction: column;
  }
  .header__nav-block {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header__nav-list {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .button {
    margin-top: 20px;
  }
  .food__content {
    justify-content: center;
    align-items: center;
  }
  .food__content-info {
    justify-content: center;
    align-items: center;
  }
  .food__content-info-title {
    width: 300px;
    text-align: center;
  }
  .food__content-info-text {
    width: 300px;
    text-align: center;
  }
  .header__ava {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 490px) {
  .features__content-info-block-info {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .features__content-info-block-data {
    text-align: center;
    margin-top: 15px;
  }
}
@media (max-width: 475px) {
  .logo__text {
    text-align: center;
  }
  .logo__logos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 390px) {
  .news__ava {
    width: 250px;
    height: 180px;
  }
  .news__content-block-info-text {
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */